<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.blog.news">

    <!-- 访问网络 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 访问网络状态 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 访问Wi-Fi状态 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 读取手机状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 往sdcard中写入数据的权限 -->
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="com.blog.news.application.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_zszx_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_zszx_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.blog.news.ui.activity.FristActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.blog.news.ui.activity.MainTabActivicty"
            android:screenOrientation="portrait" />
        <activity android:name="com.blog.news.ui.activity.news.ShowNewsActivity"
            android:windowSoftInputMode="stateAlwaysHidden"/>
        <activity android:name="com.blog.news.ui.activity.register.RegisterActivity" />
        <activity android:name="com.blog.news.ui.activity.register.LoginActivity" />
        <activity android:name="com.blog.news.ui.activity.shoppingshow.ShopingDetailsActivity" />
        <activity android:name="com.blog.news.ui.activity.SerchShopPingActivity" />
        <activity android:name="com.blog.news.ui.activity.douyin.DouYinPlayerActivity"></activity>
    </application>

</manifest>